<!DOCTYPE html>
<html>
<head lang="en">
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script type="text/javascript" src="{% static 'match_dot_com/js/script.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'match_dot_com/css/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'match_dot_com/img/favicon.ico' %}"/>
  <title>Match</title>
  <script type="text/javascript">
  $(document).ready(function(){
      $('body').css('background-color', $.cookie('bgcolor'));
      });
  </script>
  <script src="{% static 'match_dot_com/js/jquery.cookie.js' %}"></script>
</head>
<body>
  <div id="wrapper">
    <div id="home">
    <h1><a href="{% url 'match:index' %}">&#9829;</a></h1>
    <ul>
      <li><a href="{% url 'match:messages' %}">Messages</a></li>
      <li><a href="{% url 'match:winks' %}">Winks</a></li>
      <li><a href="{% url 'match:user' id=request.session.id %}">My Profile</a></li>
      <li><a href="{% url 'match:logout' %}">Logout</a></li>
    </ul>

    <ul class="nav nav-tabs">
      <li><a href="{% url 'match:index' %}">Errbody</a></li>
      <li class="active"><a href="{% url 'match:matchsort' %}">&#9829;Best Matches&#9829;</a></li>
      <li><a href="{% url 'match:regional' %}">Users Near Me</a></li>
    </ul>
    {% if messages %}
      {% for message in messages %}
        {% if 'error' in message.tags %}
          <div class="alert alert-danger" role="alert">
            {{ message | safe }}<br>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
     {% if matches %}

        {% for o in matches %}
         
        <div class="profileresults">
            <div class="thumbnail">
              {% if o.user_pics.user_pic %}
              <a href="{% url 'match:user' id=o.id %}"><img src="/static/match_dot_com/img/{{o.user_pics.user_pic}}"></a>
              {% else %}
              <a href="{% url 'match:user' id=o.id %}"><img src="/static/match_dot_com/img/default.png"></a>
              {% endif %}
            </div>
            <div class="resultstxt">
              <strong>Match: {{o.percent}}%</strong><br>
              Name: <a href="{% url 'match:user' id=o.id %}">{{ o.first_name }}</a><br>
              {% for profiles in o.user_profile.all %}
              Age: {{ profiles.age }}<br>
              {% endfor %}
              <a href="{% url 'match:messenger' id=o.id %}">Send {{ o.first_name }} a Message </a><br>
              <a href="{% url 'match:wink' id=o.id %}">Wink at {{ o.first_name }}</a>
            </div>
        </div>
        {% endfor %}
      {% else %}
      <h2>Update your <a href="{% url 'match:editseeking' id=request.session.id %}">match criteria</a>.</h2>
      {% endif %}
      <hr>
      {% if matches %}
      <h3>My Profile</h3>
      <div class="thumbnail">
        {% if me.user_pics.user_pic %}
        <a href="{% url 'match:user' id=request.session.id %}"><img src="/static/match_dot_com/img/{{me.user_pics.user_pic}}"></a>
        {% else %}
        <a href="{% url 'match:user' id=request.session.id %}"><img src="/static/match_dot_com/img/default.png"></a>
        {% endif %}
      </div>
      <a href="{% url 'match:user' id=request.session.id %}">View my Profile</a>
      <hr>
      {% endif %}
      <p><a href="{% url 'match:messages' %}">Messages</a> | <a href="{% url 'match:winks' %}">Winks</a> | <a href="{% url 'match:logout' %}">Logout</a></p>
      <p class="templateinfo">&#169; &#9829; | Ed & Peter were here | xoxo </p>
    </div>
  </div>
</body>
</html>