<!DOCTYPE html>
<html lang="en">
    <head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'match_dot_com/js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'match_dot_com/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'match_dot_com/img/favicon.ico' %}"/>
    <title>Messages</title>
     <script type="text/javascript">
        $(document).ready(function(){
        $('body').css('background-color', $.cookie('bgcolor'));
      });
    </script>
    <title>Match</title>
        <script src="{% static 'match_dot_com/js/jquery.cookie.js' %}"></script>
    </head>
    <body>
        <div id="wrapper">
            <div id="inbox">
            <h1><a href="{% url 'match:index' %}">&#9829;</a></h1>
            <ul>
                <li>Messages</li>
                <li><a href="{% url 'match:winks' %}">Winks</a></li>
                <li><a href="{% url 'match:user' id=request.session.id %}">My Profile</a></li>
                <li><a href="{% url 'match:logout' %}">Logout</a></li>
            </ul>
            <h3>Inbox</h3>
            {% if messages %}
                {% for message in messages|slice:':12' %}
                    <h4>{{ message.sender.first_name }}: <a href="{% url 'match:messenger' id=message.sender.id %}">{{ message.description|truncatechars:25 }}</a> @ {{ message.created_at }}</h4>
                    <hr>
                {% endfor %}
                {% else %}
                <p>No messages yet! Check out <a href="{% url 'match:index' %}">your matches</a>!</p>
                <hr>
            {% endif %}
            <h3>Other Users</h3>
            {% if others %}
                {% for o in others|slice:':8'%}
                    <a href="{% url 'match:user' id=o.id %}">{{ o.first_name }} {{ o.last_name }}</a> - <a href="{% url 'match:messenger' id=o.id %}">Send Message </a><br>
                {% endfor %}
            {% endif %}
            <hr>
            <p><a href="{% url 'match:index' %}">Matches</a> | <a href="{% url 'match:messages' %}">Messages</a> | <a href="{% url 'match:winks' %}">Winks</a> | <a href="{% url 'match:logout' %}">Logout</a></p>
            <p class="templateinfo">&#169; &#9829; | Ed & Peter were here | xoxo </p>
            </div>
        </div>
    </body>
</html>