<!DOCTYPE html>
<html lang="en">
    <head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'match_dot_com/js/script.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'match_dot_com/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'match_dot_com/img/favicon.ico' %}"/>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('form').submit(function(){
            $.post('{% url 'match:messenger' id=others.id %}', $(this).serialize(), function(res) {
                $('#recent').html(res);
                });
                $("#messagetxtinput").val('');
            return false;
            });
        });
        </script>
    <title>Match | Messenger</title>
</head>
    <body>
    <div id="wrapper">
        <div id="messenger">
            <div id="recent">
            {% if pastmessages %}
                {% for message in pastmessages %}
                <div class="msgcontents">
                    {{ message.sender.first_name }} at {{ message.created_at }}:<br>
                    <div class="msgtxt">
                        {{ message.description }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
            <form action="{% url 'match:messenger' id=others.id %}" method="POST">
                {% csrf_token %}
                <h3>Send {{others.first_name}} a message</h3>
                <textarea placeholder="Say something nice!" cols="30" rows="10" class="form-control" id="messagetxtinput" name="message_text"></textarea><br>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
        <a href="{% url 'match:messages' %}">Back to Message Inbox</a><br>
        <a href="{% url 'match:logout' %}">Logout</a>
    </div>
    </body>
</html>