<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <title>Match | Survey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <!-- Latest compiled and minified JavaScript -->
      <script type="text/javascript" src="{% static 'match_dot_com/js/script.js' %}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="{% static 'match_dot_com/css/style.css' %}">
      <link rel="shortcut icon" type="image/png" href="{% static 'match_dot_com/img/favicon.ico' %}"/>
  <body>
    <div id="wrapper">
      <h2>Describe your ideal &#9829;</h2>

{% comment %}User is Looking For...{% endcomment %}
      <form action="{% url 'match:seeking_entry' %}" method="POST">
      {% csrf_token %}
      <fieldset>
        <label for="age_min">Minimum Age</label><br>
        <select name="age_min" id="age_min">
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
          <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
          <option value="60">60</option>
          <option value="61">61</option>
          <option value="62">62</option>
          <option value="63">63</option>
          <option value="64">64</option>
          <option value="65">65</option>
          <option value="66">66</option>
          <option value="67">67</option>
          <option value="68">68</option>
          <option value="69">69</option>
          <option value="70">70</option>
          <option value="71">71</option>
          <option value="72">72</option>
          <option value="73">73</option>
          <option value="74">74</option>
          <option value="75">75</option>
        </select>
      </fieldset>
       <fieldset>
        <label for="age_max">Maximum Age</label><br>
        <select name="age_max" id="age_max">
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
          <option value="32">32</option>
          <option value="33">33</option>
          <option value="34">34</option>
          <option value="35">35</option>
          <option value="36">36</option>
          <option value="37">37</option>
          <option value="38">38</option>
          <option value="39">39</option>
          <option value="40">40</option>
          <option value="41">41</option>
          <option value="42">42</option>
          <option value="43">43</option>
          <option value="44">44</option>
          <option value="45">45</option>
          <option value="46">46</option>
          <option value="47">47</option>
          <option value="48">48</option>
          <option value="49">49</option>
          <option value="50">50</option>
          <option value="51">51</option>
          <option value="52">52</option>
          <option value="53">53</option>
          <option value="54">54</option>
          <option value="55">55</option>
          <option value="56">56</option>
          <option value="57">57</option>
          <option value="58">58</option>
          <option value="59">59</option>
          <option value="60">60</option>
          <option value="61">61</option>
          <option value="62">62</option>
          <option value="63">63</option>
          <option value="64">64</option>
          <option value="65">65</option>
          <option value="66">66</option>
          <option value="67">67</option>
          <option value="68">68</option>
          <option value="69">69</option>
          <option value="70">70</option>
          <option value="71">71</option>
          <option value="72">72</option>
          <option value="73">73</option>
          <option value="74">74</option>
          <option value="75">75</option>
        </select>
      </fieldset>
      <fieldset>
        <label for="seeking_gender">Interested In</label><br>
        <input type="checkbox" name="seeking_gender" value="male">Male<br>
        <input type="checkbox" name="seeking_gender" value="female">Female<br>
        <input type="checkbox" name="seeking_gender" value="other"> Other<br>
      </fieldset>
      <fieldset>
      <label for="min_height">Mininum Height:</label><br>
      <select name="min_height" id="valueA">
        <optgroup label="4&rsquo;">
          <option value="48">4&rsquo;</option>
          <option value="49">4&rsquo;&nbsp;1&rdquo;</option>
          <option value="50">4&rsquo;&nbsp;2&rdquo;</option>
          <option value="51">4&rsquo;&nbsp;3&rdquo;</option>
          <option value="52">4&rsquo;&nbsp;4&rdquo;</option>
          <option value="53">4&rsquo;&nbsp;5&rdquo;</option>
          <option value="54">4&rsquo;&nbsp;6&rdquo;</option>
          <option value="55">4&rsquo;&nbsp;7&rdquo;</option>
          <option value="56">4&rsquo;&nbsp;8&rdquo;</option>
          <option value="57">4&rsquo;&nbsp;9&rdquo;</option>
          <option value="58">4&rsquo;&nbsp;10&rdquo;</option>
          <option value="59">4&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
        <optgroup label="5&rsquo;"> selected="selected"
          <option value="60">5&rsquo;</option>
          <option value="61">5&rsquo;&nbsp;1&rdquo;</option>
          <option value="62;">5&rsquo;&nbsp;2&rdquo;</option>
          <option value="63">5&rsquo;&nbsp;3&rdquo;</option>
          <option value="64">5&rsquo;&nbsp;4&rdquo;</option>
          <option value="65">5&rsquo;&nbsp;5&rdquo;</option>
          <option value="66">5&rsquo;&nbsp;6&rdquo;</option>
          <option value="67">5&rsquo;&nbsp;7&rdquo;</option>
          <option value="68">5&rsquo;&nbsp;8&rdquo;</option>
          <option value="69">5&rsquo;&nbsp;9&rdquo;</option>
          <option value="70">5&rsquo;&nbsp;10&rdquo;</option>
          <option value="71">5&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
        <optgroup label="6&rsquo;">
          <option value="72">6&rsquo;</option>
          <option value="73">6&rsquo;&nbsp;1&rdquo;</option>
          <option value="74;">6&rsquo;&nbsp;2&rdquo;</option>
          <option value="75">6&rsquo;&nbsp;3&rdquo;</option>
          <option value="76">6&rsquo;&nbsp;4&rdquo;</option>
          <option value="77">6&rsquo;&nbsp;5&rdquo;</option>
          <option value="78">6&rsquo;&nbsp;6&rdquo;</option>
          <option value="79">6&rsquo;&nbsp;7&rdquo;</option>
          <option value="80">6&rsquo;&nbsp;8&rdquo;</option>
          <option value="81">6&rsquo;&nbsp;9&rdquo;</option>
          <option value="82">6&rsquo;&nbsp;10&rdquo;</option>
          <option value="83">6&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
      </select>
      </fieldset>
      <label for="max_height">Maximum Height:</label><br>
      <select name="max_height" id="valueA">
        <optgroup label="4&rsquo;">
          <option value="48">4&rsquo;</option>
          <option value="49">4&rsquo;&nbsp;1&rdquo;</option>
          <option value="50">4&rsquo;&nbsp;2&rdquo;</option>
          <option value="51">4&rsquo;&nbsp;3&rdquo;</option>
          <option value="52">4&rsquo;&nbsp;4&rdquo;</option>
          <option value="53">4&rsquo;&nbsp;5&rdquo;</option>
          <option value="54">4&rsquo;&nbsp;6&rdquo;</option>
          <option value="55">4&rsquo;&nbsp;7&rdquo;</option>
          <option value="56">4&rsquo;&nbsp;8&rdquo;</option>
          <option value="57">4&rsquo;&nbsp;9&rdquo;</option>
          <option value="58">4&rsquo;&nbsp;10&rdquo;</option>
          <option value="59">4&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
        <optgroup label="5&rsquo;"> selected="selected"
          <option value="60">5&rsquo;</option>
          <option value="61">5&rsquo;&nbsp;1&rdquo;</option>
          <option value="62">5&rsquo;&nbsp;2&rdquo;</option>
          <option value="63">5&rsquo;&nbsp;3&rdquo;</option>
          <option value="64">5&rsquo;&nbsp;4&rdquo;</option>
          <option value="65">5&rsquo;&nbsp;5&rdquo;</option>
          <option value="66">5&rsquo;&nbsp;6&rdquo;</option>
          <option value="67">5&rsquo;&nbsp;7&rdquo;</option>
          <option value="68">5&rsquo;&nbsp;8&rdquo;</option>
          <option value="69">5&rsquo;&nbsp;9&rdquo;</option>
          <option value="70">5&rsquo;&nbsp;10&rdquo;</option>
          <option value="71">5&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
        <optgroup label="6&rsquo;">
          <option value="72">6&rsquo;</option>
          <option value="73">6&rsquo;&nbsp;1&rdquo;</option>
          <option value="74">6&rsquo;&nbsp;2&rdquo;</option>
          <option value="75">6&rsquo;&nbsp;3&rdquo;</option>
          <option value="76">6&rsquo;&nbsp;4&rdquo;</option>
          <option value="77">6&rsquo;&nbsp;5&rdquo;</option>
          <option value="78">6&rsquo;&nbsp;6&rdquo;</option>
          <option value="79">6&rsquo;&nbsp;7&rdquo;</option>
          <option value="80">6&rsquo;&nbsp;8&rdquo;</option>
          <option value="81">6&rsquo;&nbsp;9&rdquo;</option>
          <option value="82;">6&rsquo;&nbsp;10&rdquo;</option>
          <option value="83">6&rsquo;&nbsp;11&rdquo;</option>
        </optgroup>
      </select>
      </fieldset>
       <fieldset>
        <label for="seeking_bodytype">Seeking Body Type</label><br>
        <input type="radio" name="seeking_bodytype" value="0">Slim<br>
        <input type="radio" name="seeking_bodytype" value="1"> Average<br>
        <input type="radio" name="seeking_bodytype" value="2">Athletic<br>
        <input type="radio" name="seeking_bodytype" value="3"> Heavyset<br><br>
        <input type="checkbox" name="deal_seeking_bodytype" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_status">What is the ideal relationship status for a potential partner?</label><br>
        <input type="radio" name="seeking_status" value="0">Never Married<br>
        <input type="radio" name="seeking_status" value="1">Currently Separated<br>
        <input type="radio" name="seeking_status" value="2"> Divorced<br>
        <input type="radio" name="seeking_status" value="3">Widowed<br>
        <input type="checkbox" name="deal_seeking_status" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_currkids">Is it okay if a potential partner has children?</label><br>
        <input type="radio" name="seeking_currkids" value="0">No<br>
        <input type="radio" name="seeking_currkids" value="3">Yes, I love kids!<br>
        <input type="radio" name="seeking_currkids" value="2">Yea, and it's ok if they're around sometimes<br>
        <input type="radio" name="seeking_currkids" value="1">It's ok, but i don't want to interact with them<br><br>
        <input type="checkbox" name="deal_seeking_currkids" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_future_kids">Is it okay for your potential partner to want to have children?</label><br>
        <input type="radio" name="seeking_future_kids" value="0">No<br>
        <input type="radio" name="seeking_future_kids" value="3">Yes, I love kids!<br>
        <input type="radio" name="seeking_future_kids" value="2">Possibly in the future<br>
        <input type="radio" name="seeking_future_kids" value="1">Maybe<br><br>
        <input type="checkbox" name="deal_seeking_currkids" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_edu">Is your partner's education important? If so, select the education level you'd require?</label><br>
        <input type="radio" name="seeking_edu" value="0">No High School<br>
        <input type="radio" name="seeking_edu" value="1">High School<br>
        <input type="radio" name="seeking_edu" value="2">Some College<br>
        <input type="radio" name="seeking_edu" value="3">College Graduate<br>
        <input type="radio" name="seeking_edu" value="4">Graduate School<br>
        <input type="radio" name="seeking_edu" value="5">Doctorate<br><br>
        <input type="checkbox" name="deal_seeking_salary" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_smoke">Would you go on a date with someone who smokes?</label><br>
        <input type="radio" name="seeking_smoke" value="0">No<br>
        <input type="radio" name="seeking_smoke" value="1">Maybe<br>
        <input type="radio" name="seeking_smoke" value="2">Yes<br><br>
        <input type="checkbox" name="deal_seeking_smoke" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_drink">Is it permissable for your date to drink?</label><br>
        <input type="radio" name="seeking_drink" value="0">Never, straight-edge 4lyfe<br>
        <input type="radio" name="seeking_drink" value="1">Socially<br>
        <input type="radio" name="seeking_drink" value="2">Moderately<br>
        <input type="radio" name="seeking_drink" value="3">Lets party<br><br>
        <input type="checkbox" name="deal_seeking_drink" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_religion">How important should religion be for a potential partner?</label><br>
        <input type="radio" name="seeking_religion" value="2">Religious<br>
        <input type="radio" name="seeking_religion" value="1">Spritual, but Not Practicing<br>
        <input type="radio" name="seeking_religion" value="0">Not Religious<br><br>
        <input type="checkbox" name="deal_seeking_religion" value=True>This is a dealbreaker<br>
      </fieldset>
      <fieldset>
        <label for="seeking_salary">What would you like a potential partner's financial situation to be?</label><br>
        <input type="radio" name="seeking_salary" value="0">Struggling<br>
        <input type="radio" name="seeking_salary" value="1">Comfortable<br>
        <input type="radio" name="seeking_salary" value="2">Affluent<br><br>
        <input type="checkbox" name="deal_seeking_salary" value=True>This is a dealbreaker<br><br>
      </fieldset>
      <button type="submit">Submit</button>
      </form>
    </div> 
  </body>

</html>