<!DOCTYPE html>
<html lang="en">
    <head lang="en">
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static 'match_dot_com/js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'match_dot_com/css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'match_dot_com/img/favicon.ico' %}"/>
    <title>Match | Profile</title>
</head>
    <body>
        <div id="wrapper">
            <div id="profile">
                <h1><a href="{% url 'match:index' %}">&#9829;</a></h1>
                <ul>
                    <li><a href="{% url 'match:messages' %}">Messages</a></li>
                    <li><a href="{% url 'match:winks' %}">Winks</a></li>
                    <li>{% if user.id != request.session.id %}<a href="{% url 'match:user' id=request.session.id %}">{% endif %}My Profile</a></li>
                    <li><a href="{% url 'match:logout' %}">Logout</a></li>
                </ul>
                <h3>{{user.first_name}} {{user.last_name}}</h2>
                <div class="profilesection">
                    {% if photos %}
                        {% for photo in photos %}
                        <div class="thumbnail">
                            <a href="#img1"><img src="/static/match_dot_com/img/{{ photo.user_pic }}"></a><br>
                        </div>
                        <a href="#_" class="lightbox" id="img1"><img src="/static/match_dot_com/img/{{ photo.user_pic }}"></a>
                        {% endfor %}
                        {% else %}
                        <div class="thumbnail">
                            <img src="/static/match_dot_com/img/default.png"><br>
                        </div>
                    {% endif %}
                    {% if user.id == request.session.id %}
                    <form action="{% url 'match:upload_pic' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <label id="piclabel" for="user_pic" class="custom-file">
                            <input id="id_image" type="file" class="custom-file-input" name="user_pic">
                            <span class="custom-file-control"></span>
                        </label>
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </form>
                    {% endif %}
                    {% if user %}
                        <strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}<br>
                        <strong>Joined:</strong> {{ user.created_at|date:"M d, Y" }}<br>
                        {% comment %}{% if seekingdata %}
                        Interested In: {{ seekingdata.gender }}
                        {% endif %}{% endcomment %}

                        {% if user.id != request.session.id %}
                            <a href="{% url 'match:messenger' id=user.id %}">Send Message</a>
                        {% endif %}
                        {% if user.id == request.session.id %}
                            <a href="{% url 'match:profileeditor' id=user.id %}">Edit Profile</a><br>
                            <a href="{% url 'match:editseeking' id=user.id %}">Update Search Criteria</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="profilesection">
                    {% if user.bio %}
                        <p><strong>Bio:</strong> {{ user.bio }}</p>
                    {% endif %}
                </div>
                <hr>
                {% if profiledata %}
                <h3>Info</h3>
                <div class="profiledata">
                    {% if profiledata.gender %}
                        <p>Gender: {{ profiledata.gender | title }}</p>
                    {% endif %}
                    {% if profiledata.age %}
                        <p>Age: {{ profiledata.age }}</p>
                    {% endif %}
                    {% if profiledata.height %}
                        <p>Height: {{ profiledata.height }}</p>
                    {% endif %}
                    {% if profiledata.body %}
                        <p>Body Type: {{ profiledata.body }}</p>
                    {% endif %}
                    {% if profiledata.relationship_status %}
                        <p>Relationship Status: {{ profiledata.relationship_status | title }}</p>
                    {% endif %}
                    {% if profiledata.education %}
                        <p>Education: {{ profiledata.education }}</p>
                    {% endif %}
                </div>
                <div class="profiledata">
                    {% if profiledata.current_kids %}
                        <p>Kids: {{ profiledata.current_kids }}</p>
                    {% endif %}
                    {% if profiledata.future_kids %}
                        <p>Wants Kids: {{ profiledata.future_kids }}</p>
                    {% endif %}
                    {% if profiledata.smoke %}
                        <p>Smoker: {{ profiledata.smoke }}</p>
                    {% endif %}
                    {% if profiledata.smoke %}
                        <p>Alcohol: {{ profiledata.drink }}</p>
                    {% endif %}
                    {% if profiledata.smoke %}
                        <p>Religion: {{ profiledata.religion | title }}</p>
                    {% endif %}
                </div>
                {% endif %}
                <hr>
                <p><a href="{% url 'match:index' %}">Matches</a> | <a href="{% url 'match:messages' %}">Messages</a> | <a href="{% url 'match:winks' %}">Winks</a> | <a href="{% url 'match:logout' %}">Logout</a></p>
                <p class="templateinfo">&#169; &#9829; | Ed & Peter were here | xoxo </p>
            </div>
        </div> 
    </body>
</html>